*.iml
.idea
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/core_ui/build
/forecast/forecast_data/build
/forecast/forecast_domain/build
/forecast/forecast_presentation/build
/buildSrc/build
/build/.gradle
/core_ui/.gradle
/forecast/forecast_presentation/.gradle
/forecast/forecast_domain/.gradle
/forecast/forecast_data/.gradle
/rules/build
/rules/.gradle
/captures
.externalNativeBuild
.cxx
local.properties
